{% extends 'base.html' %}

{% block title %}
<title>Update</title>
{% endblock %}

{% block body %}
<div class="card">
<form method="POST" action="">
    {% csrf_token %}
    <div class="card-header">Update Task</div>
    <div class="card-body">
        <h6 class="card-title">Task</h6>
        <div class="row">
            <div class="col-10">
                <div class="input-group mb-3">
                    {{ form.task }}
                    <h5 class="mx-2">Completed</h5>
                    {{ form.completed }}
                </div>
            </div>
        </div>
        <a href="{% url 'index' %}" class="btn btn-warning" role="button" aria-pressed="true"><- Go back</a>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>
</div>
{% endblock %}